@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2 !important;
    position: relative;
    min-height: 100vh;
}

.navbar-dark .navbar-brand {
    padding-right: 12px;
}

section.page>.container {
    margin-top: 15px;
}

.page {
    min-height: calc(100vh - 71px);
}

p {
    margin-bottom: 0;
}

.line {
    border-bottom: 1px solid #ddd;
    height: 1px;
    width: 97%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.content-page {
    background: #ffff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 15px;
}

footer {
    height: 50px;
    background: #343a40;
    color: #fff;
    padding: 12px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.indexpage .card {
    text-align: center;
    min-height: 195px;
}

.indexpage .card-text {
    min-height: 48px;
}

.card-icon {
    text-align: center;
    padding: 18px;
    padding-bottom: 0;
}

.card-icon i {
    font-size: 35px;
}

.mt-10 {
    margin-top: 10px;
}

table i {
    font-size: 20px;
}

.loading {
    position: relative;
    cursor: default;
    user-select: none;
    pointer-events: none;
}

.loading:after,
.loading:before {
    position: absolute;
    display: block;
    content: ''
}

.loading:before {
    z-index: 7;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .8);
}

.loading:after {
    z-index: 8;
    top: 50%;
    left: 50%;
    margin-top: -5%;
    margin-left: -3%;
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #00446b;
    border-color: #00446b transparent #00446b transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.vam {
    vertical-align: middle;
}


pre {
    padding: 8px;
    background: #dddd;
    border-radius: 15px;
}
